@{
    ViewBag.Title = "AdminPartialHeader";
}


<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Tillage Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- bootstarp-css -->
<link href="../../css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<!--// bootstarp-css -->
<!-- css -->
<link rel="stylesheet" href="../../css/style.css" type="text/css" media="all" />
<!--// css -->
<script src="../../js/jquery-1.11.1.min.js"></script>
<!--fonts-->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,800,700,600' rel='stylesheet' type='text/css'>
<!--/fonts-->
<link href="../../css/animate.css" rel="stylesheet" type="text/css" media="all">
<script src="../../js/wow.min.js"></script>
<script>
    new WOW().init();
</script>

<!-- banner -->
<div class="banner a-banner about-bottom-grids">
    <!-- container -->
    <div class="container">
        <div class="header">
            <div class="head-logo">
                <a><img src="../../Content/images/lo.png" alt="" /></a>

                <p style="color:white;padding-top:10px;font-size:35px;margin-bottom:0px">Shoes Store</p> <span style="color: white; font-size: 20px; "> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; Your First Choice </span>

            </div>
            <div class="top-nav">
                <span class="menu"><img src="~/Content/images/lo.png" alt=""></span>
                <ul class="nav1">
                    <li class="hvr-sweep-to-bottom active"><a href="~/Admin/Index" style="color: lightslategrey"><h3>HOME</h3><i></i></a></li>
                    <li class="hvr-sweep-to-bottom "><a href="~/Admin/Main" style="color: white"><h3>View Products</h3><i></i></a></li>
                    <li class="hvr-sweep-to-bottom "><a href="/Admin/Add" style="color: white"><h3> Add Products </h3> <i></i></a></li>
                    <li class="hvr-sweep-to-bottom"><a href="~/Home/Account" style="color: white"><h3> Logout </h3><i></i></a></li>
                    <div class="clearfix"> </div>
                </ul>
                <!-- script-for-menu -->
                <script>
                    $("span.menu").click(function () {
                        $("ul.nav1").slideToggle(300, function () {
                            // Animation complete.
                        });
                    });
                </script>
                <!-- /script-for-menu -->
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <!-- //container -->
</div>
<!-- //banner -->