@{
    ViewBag.Title = "About";
}




<!---->
<div class="container">
    <h6 class="dress"><a href="../../Home/Index">Home</a> <i> </i> About </h6>
</div>
<div class="back">
    <h2>ABOUT</h2>
</div>
<!---->
<div class="container">
    <div class="box_4">
        <div class="col-md-8 about_left">
            <h3>Adventure Shoe Store</h3>
            <img src="../../Content/images/banner.jpg" class="img-responsive" alt="">
            <p>
                We are glad to welcome you in our store. You have made a right choice and we are going to prove that our goods are the best.
                You’ll be very surprised by the variety of our huge assortment. Our company gives an opportunity to feel the real premium quality of shoes.
                Have no doubt about this fact because our vendors and manufacturers guarantee the high quality of our goods.Our products have many different
                advantages. First of all we always stay in touch with the latest fashion tendencies and news that is why our goods are so trendy. The question
                of a style and fashion is very important in our business because this feature is the main criterion in the process of choosing any good.
                Our store provides only branded commodities – that is a part of our official policy. That is why we can satisfy most whimsical clients with
                various demands. Even if you are not going crazy about trendy shoes we still have got something for you – it’s the simple and elegant models
                especially for the true fans of this style.We guarantee the high quality of our products. The formula of our success is the combination of
                reliability, unique design and fair price. Our goal is to keep traditions and improve new technologies in our business.
                We are the constant participants of different research projects. Our company cares about the clients and never lets them down.
            </p>


            
        </div>
        
        <div class="clearfix"> </div>
    </div>

</div>

<!---->
<div class="bottom-grid1">

    <div class="fit1">
        <h3>HAPPY SHOPPING</h3>
        <p>
            Enjoy Shopping and visit us when ever you want.We are always able to serve you.
            Thank You!!!!!!!
        </p>
    </div>
</div>
<!---->
