@{
    ViewBag.Title = "Four";
}



<!---->
<div class="container">
    <h6 class="dress"><a href="../../Home/Index">Home</a> <i> </i> 404 </h6>
</div>
<div class="back">
    <h2>404</h2>
</div>
<!---->
<div class="four">
    <h3>404</h3>
    <p>The page you're looking for could not be found.</p>
    <a href="../../Home/Index" class="more ">Go back</a>

</div>
<!---->
<div class="bottom-grid1">

    <div class="fit1">
        <h3>HAPPY SHOPPING</h3>
        <p>
            Enjoy Shopping and visit us when ever you want.We are always able to serve you.
            Thank You!!!!!!!
        </p>
    </div>
</div>
<!---->
