@{
    ViewBag.Title = "Index";
}


<div class="header">

</div>

<!---->
<!--content-->
<div class="content">
    <div class="container">
        <div class=" sap_tabs">
            <label class="line"> </label>
            <h2> </h2>
            <h2> </h2>
            <a class="acount-btn" href="../../Home/Index"> <h3> Men Collection    </h3> </a>
            <h2> </h2>
            <h2>LATES ARRIVAL</h2>

            <h1> <b> <i>    Sneakers     </i></b> </h1>
            <h2>  </h2>

            <div class="grid-in">

                <div class="col-md-4 grid-top">
                    <a class="acount-btn" href="../../Product/Index">
                        <img class="img-responsive" src="../../Content/images/a1.jpg" alt="">
                    </a>
                      
</div>

                <div class="col-md-4 grid-top">
                    <a class="acount-btn" href="../../Product/Index">
                        <img class="img-responsive" src="../../Content/images/a2.jpg" alt="">
                    </a>
                       
</div>

                <div class="col-md-4 grid-top">
                    <a class="acount-btn" href="../../Product/Index">
                        <img class="img-responsive" src="../../Content/images/a3.jpg" alt="">
                    </a>
                        
</div>

                <div class="clearfix"> </div>
            </div>

            <!----->
            <h2> </h2>

            <h1> <b> <i>    Casual Shoes    </i></b> </h1>

            <h2> </h2>
            <!----->

            <div class="grid-in">

                <div class="col-md-4 grid-top">
                    <a class="acount-btn" href="../../Product/Index">
                        <img class="img-responsive" src="../../Content/images/p1.jpg" alt="">
                    </a>
                        
</div>

                <div class="col-md-4 grid-top">
                    <a class="acount-btn" href="../../Product/Index">
                        <img class="img-responsive" src="../../Content/images/p2.png" alt="">
                    </a>
                        
                </div>

                <div class="col-md-4 grid-top">
                    <a class="acount-btn" href="../../Product/Index">
                        <img class="img-responsive" src="../../Content/images/a6.png" alt="">
                    </a>
                        <div class="b-wrapper">
                            <h2></h2>
                            <h2></h2>
                            
                        </div>
</div>

                <div class="clearfix"> </div>
            </div>

            <!----->
            <h2> </h2>

            <h1> <b> <i>   Dress Shoes    </i></b> </h1>

            <h2> </h2>
            <!----->

            <div class="grid-in">

                <div class="col-md-4 grid-top">
                    <a class="acount-btn" href="../../Product/Index">
                        <img class="img-responsive" src="../../Content/images/a7.jpg" alt="">
                    </a>
                        
</div>

                <div class="col-md-4 grid-top">
                    <a class="acount-btn" href="../../Product/Index">
                        <img class="img-responsive" src="../../Content/images/a8.jpg" alt="">
                    </a>
                        
</div>

                <div class="col-md-4 grid-top">
                    <a class="acount-btn" href="../../Product/Index">
                        <img class="img-responsive" src="../../Content/images/a9.jpg" alt="">
                    </a>
                        
</div>

                <div class="clearfix"> </div>
            </div>

            <!---->
            <h2> </h2>
            <h2> </h2>
            <!----->

        </div>
    </div>


    <!----->


    <div class="bottom-grid1">

        <div class="fit1">
            <h3>HAPPY SHOPPING</h3>
            <p>
                Lorem Ipsum sit amet consectuer adipiscing elit
                sed diam nonummy nibh euismod
            </p>
        </div>
    </div>
    <!---->
    <!---->
    <div class="content-bottom-top">
        <div class="container">
            <h3>Latest News</h3>
            <div class="blog-in">
                <div class="col-md-8">

                    <div class="wmuSlider example1">
                        <div class="wmuSliderWrapper">
                            <article style="position: absolute; width: 100%; opacity: 0;">
                                <div class="blog-in-top">
                                    <div class="col-md-6 van">
                                        <a> <img src="../../Content/images/bl.jpg" class="img-responsive" alt="" /></a>
                                    </div>
                                    <div class="col-md-6 on-para">
                                        <div class="col-on">
                                            <h4>Iniloh Judulnya</h4>
                                            <span>Saturday, 23/08/2014</span>
                                        </div>
                                        <p>
                                            Lorem ipsum dolor sit <span>
                                                amet, consectetuer adipiscing elit,
                                                sed diam nonummy nibh euismod tincidunt ut laoreet dolore
                                                magna aliquam erat volutpat ....
                                            </span>
                                        </p>
                                        
                                        <div class="clearfix"> </div>
                                    </div>
                                    <div class="clearfix"> </div>
                                </div>
                                <div class="blog-in-bottom">
                                    <div class="col-md-6 van-in">
                                        <h5>Discount Up to</h5>
                                        <span>60%</span>
                                    </div>
                                    <div class="col-md-6 on-para">
                                        <div class="col-on">
                                            <h4>Iniloh Judulnya</h4>
                                            <span>Saturday, 23/08/2014</span>
                                        </div>
                                        <p>
                                            Lorem ipsum dolor sit <span>
                                                amet, consectetuer adipiscing elit,
                                                sed diam nonummy nibh euismod tincidunt ut laoreet dolore
                                                magna aliquam erat volutpat ....
                                            </span>
                                        </p>
                                       
                                        <div class="clearfix"> </div>
                                    </div>
                                    <div class="clearfix"> </div>
                                </div>
                            </article>
                            <article style="position: absolute; width: 100%; opacity: 0;">
                                <div class="blog-in-top">
                                    <div class="col-md-6 van">
                                        <a> <img src="../../Content/images/bl2.jpg" class="img-responsive" alt="" /></a>
                                    </div>
                                    <div class="col-md-6 on-para">
                                        <div class="col-on">
                                            <h4>Iniloh Judulnya</h4>
                                            <span>Saturday, 23/08/2014</span>
                                        </div>
                                        <p>
                                            Lorem ipsum dolor sit <span>
                                                amet, consectetuer adipiscing elit,
                                                sed diam nonummy nibh euismod tincidunt ut laoreet dolore
                                                magna aliquam erat volutpat ....
                                            </span>
                                        </p>
                                        
                                        <div class="clearfix"> </div>
                                    </div>
                                    <div class="clearfix"> </div>
                                </div>
                                <div class="blog-in-bottom">
                                    <div class="col-md-6 van-in in-bus">
                                        <h5>Discount Up to</h5>
                                        <span>60%</span>
                                    </div>
                                    <div class="col-md-6 on-para">
                                        <div class="col-on">
                                            <h4>Iniloh Judulnya</h4>
                                            <span>Saturday, 23/08/2014</span>
                                        </div>
                                        <p>
                                            Lorem ipsum dolor sit <span>
                                                amet, consectetuer adipiscing elit,
                                                sed diam nonummy nibh euismod tincidunt ut laoreet dolore
                                                magna aliquam erat volutpat ....
                                            </span>
                                        </p>
                                      
                                        <div class="clearfix"> </div>
                                    </div>
                                    <div class="clearfix"> </div>
                                </div>
                            </article>
                            <article style="position: absolute; width: 100%; opacity: 0;">
                                <div class="blog-in-top">
                                    <div class="col-md-6 van">
                                        <a> <img src="../../Content/images/bl.jpg" class="img-responsive" alt="" /></a>
                                    </div>
                                    <div class="col-md-6 on-para">
                                        <div class="col-on">
                                            <h4>Iniloh Judulnya</h4>
                                     
                                        </div>
                                        <p>
                                            Lorem ipsum dolor sit <span>
                                                amet, consectetuer adipiscing elit,
                                                sed diam nonummy nibh euismod tincidunt ut laoreet dolore
                                                magna aliquam erat volutpat ....
                                            </span>
                                        </p>
                                        
                                        <div class="clearfix"> </div>
                                    </div>
                                    <div class="clearfix"> </div>
                                </div>
                                <div class="blog-in-bottom">
                                    <div class="col-md-6 van-in">
                                        <h5>Discount Up to</h5>
                                        <span>60%</span>
                                    </div>
                                    <div class="col-md-6 on-para">
                                        <div class="col-on">
                                            <h4>Iniloh Judulnya</h4>
                                    
                                        </div>
                                        <p>
                                            Lorem ipsum dolor sit <span>
                                                amet, consectetuer adipiscing elit,
                                                sed diam nonummy nibh euismod tincidunt ut laoreet dolore
                                                magna aliquam erat volutpat ....
                                            </span>
                                        </p>
                                        
                                        <div class="clearfix"> </div>
                                    </div>
                                    <div class="clearfix"> </div>
                                </div>
                            </article>
                        </div>
                    </div>
                    <!---->
                    <script src="../../Content/js/jquery.wmuSlider.js"></script>
                    <script>
                        $('.example1').wmuSlider({
                            pagination: false,
                        });
                    </script>

                </div>
                <div class="col-md-4 amet">
                    <div class="grid-per">
                        <a>
                            <img class="img-responsive" src="../../Content/images/bl1.jpg" alt="">
                            <div class="six-per">
                                <h4>Get up to</h4>
                                <span>60%</span>
                                <p>
                                    Lorem ipsum dolor amet, consectetuer elit
                                    adipiscing , sed diam nonummy nibh euismod
                                    tincidunt ut laoreet dolore magna erat
                                    aliquam volutpat.
                                </p>

                            </div>
                        </a>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <!---->
    <div class="container">
        <div class="bottom-grid">
            <img class="img-responsive" src="../../Content/images/back1.jpg" alt="">
            <div class="fit">
                <h6>Best fit for women’s feet</h6>
                <p>TRY TO WALK IN OUR SHOES</p>
            </div>
        </div>
    </div>
    <!---->
</div>
<!---->

